<nav class="ui inverted vertical pointing menu sidebar">
  <%= link_to 'Home', root_path, class: 'item' %>
  <%= link_to 'About', about_path, class: 'item' %>
  <%= link_to 'Calendar', calendar_path, class: 'item' %>
  <%= link_to 'FAQs', faqs_path, class: 'item' %>
</nav>
